.jumbotron {
  height: 60vh;
  background-image: url(../img/vacation-dog.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00C3FF;
  }

  h3 {
    font-style: italic;
  }

  #results {
    max-width: 80vw;
  }
  #results img {
    max-width: 60vw;
    display: block;
    margin: 6vh auto 4vh auto;
    border: solid 3px black;
  }

  #results h1 {
    text-align: center;
  }

p {
  font-size: 1.4em;
}
label {
  font-size: 1.3em;
  padding-bottom: 2vh;
}

select {
  max-width: 50vw;
  min-width: 200px;
}

button {
  margin-top: 3vh;
}

body {
  margin-bottom: 10vh;
}
.container {
  max-width: 85vw;
}
.lead {
  font-style: italic;
  margin: 3vh auto 4vh auto;
}

#results {
  display: none;
}
