/*General styles*/
body {
  margin-bottom: 10vh;
}

button {
  margin: 3vh 2vh 3vh auto;
}

h3 {
  font-style: italic;
}

label {
  font-size: 1.3em;
  padding-bottom: 2vh;
}

p {
  font-size: 1.4em;
}

select {
  max-width: 50vw;
  min-width: 200px;
}

.container {
  max-width: 85vw;
}

/*Header image*/
.jumbotron {
  height: 60vh;
  background-color: #00C3FF;
  background-image: url(../img/vacation-dog.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*Quiz*/
.lead {
  font-style: italic;
  margin: 3vh auto 4vh auto;
}

/*Results*/
#results {
  display:none;
  max-width: 80vw;
}

#results h1 {
  text-align: center;
}

#results img {
  border: solid 3px black;
  display: block;
  margin: 6vh auto 4vh auto;
  max-width: 60vw;
}
