.jumbotron {
  height: 60vh;
  background-image: url(../img/vacation-dog.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00C3FF;
  }

label {
  font-size: 1.3em;
  padding-bottom: 2vh;
}

select {
  max-width: 50vw;
  min-width: 200px;
}

button {
  margin-top: 3vh;
}

body {
  margin-bottom: 10vh;
}
.container {
  max-width: 85vw;
}
.lead {
  font-style: italic;
  margin: 3vh auto 4vh auto;
}

#results {
  display: none;
}
